<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">

<wicket:panel>

    <form wicket:id="imageSelectorForm">

        <ul wicket:id="radioGroup" class="img-selector-list">
            <li wicket:id="imageList" class="img-selector-list-item">
                <label class="img-selector-label"> <input wicket:id="radio" type="radio" class="img-selector-radio">
                    <img wicket:id="image" alt="" src="" class="img-selector-image"> </label>
            </li>

            <li wicket:id="nullOption" class="img-selector-list-item"></li>
        </ul>

    </form>

    <wicket:fragment wicket:id="nullOptionFragment" id="nullOptionFragment">
        <label class="img-selector-label"> <input wicket:id="nullRadio" type="radio" class="img-selector-radio"> <span
                wicket:id="nullCaption" class="img-selector-caption"></span> </label>
    </wicket:fragment>

</wicket:panel>

</html>