<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<head>
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css"/>
</head>

<body>

<wicket:extend>

    <ul class="menuItems">
        <li class="menuItem bluegradient">
            <a class="menuItemLink" wicket:id="releaseOverview"> Releases
                <div class="button floatright">
                    <div class="icon ic_right_arrow">right arrow</div>
                </div>
            </a>
        </li>
    </ul>

</wicket:extend>

</body>
</html>