<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>

<wicket:extend>

    <ol id="releaseList">
        <li wicket:id="releaseList">
            <a wicket:id="releaseLink"> <img wicket:id="releaseImage" alt="release image"/> <span
                    wicket:id="releaseLabel"/> </a>
        </li>
    </ol>

    <div wicket:id="pageNavigator" id="pageNavigator"/>

</wicket:extend>

</body>
</html>